.vuep{
  flex-direction: column;
  height: initial;
}

.vuep-editor, .vuep-preview, .vuep-error{
  width: 100%;
  height: initial;
}
.vuep-preview {
  display: flex;
  align-items: center;
  justify-content: center;
}
.markdown-section{
  max-width: 929px;
}

.markdown-section a {
  text-decoration: none;
}

.markdown-section iframe {
  border: none;
}

.vuep-preview, .vuep-error{
  padding: 8px;
}



@keyframes bouncing-loader {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-1rem);
    opacity: 0.1;
  }
}

@keyframes donut {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes playing_pause {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(100px);
  }
}