.vuep{
  flex-direction: column;
  height: initial;
}

.CodeMirror-hscrollbar {
  overflow: hidden;
}

.vuep-editor, .vuep-preview, .vuep-error{
  width: 100%;
  height: initial;
}

.markdown-section{
  max-width: 929px;
}

.markdown-section a {
  text-decoration: none;
}

.markdown-section iframe {
  border: none;
}

.vuep-preview, .vuep-error{
  padding: 8px;
}



@keyframes donut {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}


@keyframes bouncing-loader {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-1rem);
    opacity: 0.1;
  }
}