.vuep{
  flex-direction: column;
  height: initial;
}

.vuep-editor, .vuep-preview, .vuep-error{
  width: 100%;
  height: initial;
}
.vuep-preview {
  display: flex;
  align-items: center;
  justify-content: center;
}
.markdown-section{
  max-width: 929px;
}

.markdown-section a {
  text-decoration: none;
}

.markdown-section iframe {
  border: none;
}

.vuep-preview, .vuep-error{
  padding: 8px;
}



@keyframes bouncing-loader {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-1rem);
    opacity: 0.1;
  }
}

@keyframes donut {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes playing_pause {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(100px);
  }
}
.clear-float::after {
  content: '';
  display: block;
  clear: both;
}
.clear-float div {
  width: 100px;
  height: 100px;
  background: #ccc;
  float: left;
}
.cutof-text p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
}
.inline-child {
  text-align: center;
}
.block-element {
  width: 100px;
  height: 100px;
  border: 2px solid #ccc;
  margin: 0 auto;
}
.block-children {
  text-align: center
}
.block-children .child {
  width: 100px;
  height: 100px;
  border: 2px solid #ccc;
  display: inline-block;
}
.lever-vertical-center {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lever-vertical-center .child{
  width: 100px;
  height: 100px;
  border: 2px solid #ccc;
}
.vertical-center {
  /* height: 100px; */
}
.vertical-center .inline-child span{
  height: 50px;
  line-height: 50px;
  /* padding: 20px; */
}